
body {
    margin: 0;
    background-color: #FFEDB9
}

main { 
    background-color: #EB7F31; 
    color: white; 
    text-align: center; 
    padding: 4vh 5%; 
} 

nav { 
    background-color: #FCAD38; 
    display: flex; 
    justify-content: center; 
    gap: 30px; 
    padding: 10px; 
    color: white;
} 

nav a {
    color: white;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
    border-radius: 10px;
}

.Infos { 
    width: 300px; 
    height: 300px; 
    background-color: #FFCB56; 
    padding: 30px; 
    box-sizing: border-box;
    border-radius: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    text-align: center;
} 

.palcoAzul { 
    position: relative;
    width: 300px; 
    height: 300px; 
    background-color: #ABD2FA;
    overflow: hidden;
    border-radius: 10px;
}

.orbita {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 2px solid white;
    border-radius: 50%;

    top: 48px;
    left: 48px;

    animation: transladar 5s linear infinite;
}

.planeta {
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #EB7F31;
    border-radius: 50%;
   

    top: -18px;
    left: 82px;
}

@keyframes transladar {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

 .cards{
            display:flex;
            gap: 20px;
        }

        .card{
            width: 33%;
            min-height: 25vh;

            background-color: #FFCB56;
            padding:20px;
            text-align: center;
            border-radius: 10px;
        }

     .como-funciona {
    width: 100%;
    text-align: center;
}

.como-funciona h2 {
    background-color: #FCAD38;
    margin: 20px 0 0 0;
    padding: 12px;
    border-radius: 10px;
}

.passos {
    background-color: #FFCB56;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
    border-radius: 10px;
}

.passo {
    width: 180px;
}

.passo span {
    font-size: 28px;
    font-weight: bold;
    color: #EB7F31;
    border-radius: 10px;
}

.passo h3 {
    margin: 5px 0;
}

.passo p {
    margin: 5px 0;
}

.depoimentos {
    background-color: #FCAD38;
    margin: 20px 0 0 0;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
}



.clientes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.cliente1, .cliente2, .cliente3, .cliente4{
    width: 220px;
    min-height: 400px;
    background-color: #FFCB56;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

img {
    width: 200px;
    height: 300px;
}

.preços {
    background-color: #FCAD38;
    margin: 20px 0 0 0;
    padding: 12px;
    border-radius: 10px;
    text-align: center;
}

.planetas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px;
}

.precoPlaneta {
    background-color: #FFCB56;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.precoPlaneta img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.precoPlaneta h3 {
    margin: 5px;
}

.precoPlaneta p {
    font-weight: bold;
    font-size: 18px;
}

footer{
    background-color: #FCAD38;
    text-align: center;
    padding: 20px;
    color: white;
}

@media (max-width: 768px) {
body {
font-size: 16px;
}
.container {
flex-direction: column;
}
.card {
width: 100%;
}

nav a{
    margin: 5px;
}
}